.menu {
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
    padding: 0;
    margin: 12px 0;
}
.menu-title {
    padding: 8px;
}
.menu-items {
    list-style-type: none;
    border-top: 1px solid rgba(0,0,0,.0975);
}

.menu-items li {
    padding: 8px 8px;
    border-bottom: 1px solid rgba(0,0,0,.0975);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.menu-items li.active {
    background-color: #eeeeee;
}