.record-img {
    width:100%;
}
.record {
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
    padding: 0;
    margin-top: 12px;
}

.record-title,
.record-description {
    padding: 8px;
}

.record-title input {
    width:100%;
    border:1px solid rgba(0,0,0,.0975);
    background-color: #f7f7f7;
}

@media (min-width: 768px) {
    .record {
        margin-right: 16px;
    }
}