.controls-bar {
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
    padding: 0;
    margin-top: 12px;
    padding: 8px;
}
.controls-bar button {
    min-width: 62px;
}
.controls-bar button:not(:last-of-type) {
    margin-right: 8px;
}

@media (max-width: 768px) {
    .controls-bar button {
        margin:0;
        display: block;
        width:100%;
    }
    .controls-bar button:not(:last-of-type) {
        margin-bottom: 8px;
    }
}