.header {
    min-height: 80px;
}
.header .container {
    padding: 16px 20px;
}

.header .logo-img {
    max-width: 48px;
    max-height: 48px;
    border-right: 1px solid #262626;
}

.header button.btn:first-of-type {
    margin-right: 8px;
}

@media (max-width: 768px) {
    .header button.btn {
        width: 100%;
    }
    .header button.btn:first-of-type {
        margin: 8px 0;
    }
}
@media (max-width: 576px) {
    .header .container {
        padding: 16px 6px;
    }
}